# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Cut Plants Idle.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Cut Plants Idle\.idea\.idea.Cut Plants Idle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
